# Life Expectancy Analisys
### We want year are transposed to rows for the Indicators table

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
%matplotlib inline

wdi = pd.read_csv("data/indicators1.csv")
print(wdi.shape)
print(type(wdi))
names = wdi.columns.values
print(names)

wdi_new = pd.melt(wdi, id_vars=['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode'], var_name="Year", value_name="Value") #Transpose the year and thier values
wdi_new.shape
wdi_new.head() # new dataframe created

(383838, 64)
<class 'pandas.core.frame.DataFrame'>
['CountryName' 'CountryCode' 'IndicatorName' 'IndicatorCode' '1960' '1961'
 '1962' '1963' '1964' '1965' '1966' '1967' '1968' '1969' '1970' '1971'
 '1972' '1973' '1974' '1975' '1976' '1977' '1978' '1979' '1980' '1981'
 '1982' '1983' '1984' '1985' '1986' '1987' '1988' '1989' '1990' '1991'
 '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999' '2000' '2001'
 '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010' '2011'
 '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019']

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,1960,NaN
3,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,1960,NaN
4,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,1960,NaN

In [ ]:
wdi_new.to_csv('indicators.csv')